# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz
*.pdf
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.lof
*.lot
*.nav
*.snm
*.vrb
# Ignore the main PDF file
!UptimatumDocumentation.pdf

